body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7a0000;
    color: #ffffff;
}

.container {
    text-align: center;
    background:#065206;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

h1 {
    color: #ffffff;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}

.celula {
    width: 100px;
    height: 100px;
    background: #7a0000;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.celula:hover {
    background-color: #065206;
}

#mensagem {
    margin: 15px 0;
    font-size: 1.2em;
    font-weight: bold;
    height: 24px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background: #065206;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #7a0000;
}